.wrapper {
    min-height:100vh;
    display: flex;

    .imgContainer{
        display: none;

        @media screen and (min-width:768px) {
            display: block;
            background: url("../assets/bg-01.jpg");
            background-size: cover;
            width:100%;
            background-position: center;
        }
    }

    .loginContainer{
        min-height:100%;
        width:100%;
        display: flex;
        justify-content: center;
    }
    .formWrapper {
        padding:120px 30px;
        width:100%;
        min-width:320px;
        max-width:600px;

        .headingSpan{
            display: inline-block;
            font-size: 2.7rem;
            font-weight: 500;
            padding-bottom: 30px;
        }

        .inputBox{
            position:relative;
            margin:40px 0px 0px 0px;

            input{
                width:100%;
                padding:15px;
                border:1px solid #e6e6e6;
                border-radius: 5px;
                outline:none;
                font-size: 1.5rem;

                &:valid ~ span, &:focus ~ span{
                    color:#9c9797;
                    transform:translateX(10px) translateY(-7px);
                    font-size: .8rem;
                    padding:0px 15px;
                    background-color: #fff;
                }
            }
            span{
                position:absolute;
                left:0;
                padding:13px;
                pointer-events: none;
                font-size: 1.5rem;
                color:#9c9797;
                transition: .3s ease;
            }
        }
        .subBtn{
            width:100%;
            padding:15px;
            margin-top: 15px;
            background-color: #6675DF;
            color:#fff;
            font-size: 1rem;
            outline:none;
            font-weight: bold;
            letter-spacing: 1px;
            border:none;
            border-radius: 10px;
            cursor: pointer;
            transition: all .5s ease;

            &:hover{
                background-color: #5869ea;
            }
        }
        .errMsg{
            color:red;
            font-size: .8rem;
        }

        .anchorDiv{
            margin: 10px 0px;
            text-align: end;
        }
    }

}